<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.gtx.eatandplay">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".ApplicationEP"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EatActivity"
            android:label="@string/title_activity_eat"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TimeActivity"
            android:label="@string/title_activity_time"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DescriptionActivity"
            android:label="@string/title_activity_description" >
        </activity>
        <activity
            android:name=".DrinkActivity"
            android:label="@string/title_activity_drink" >
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label="@string/title_activity_play" >
        </activity>
        <activity
            android:name=".HappyActivity"
            android:label="@string/title_activity_happy" >
        </activity>
    </application>

</manifest>
